/*
 *  Document   : main.css
 *  Author     : pixelcave
 */

body{
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#2e3030;
	font-size:13px;
	background: url("../img/background/backgound1.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover;    /* Mozilla*/
    -o-background-size: cover;      /* Opera*/
    background-size: cover;         /* Generic*/
    overflow-x: hidden;
}

.bg-dblue, .bg-default {
    background-color: rgb(19, 57, 89) !important;
}
.bg-light-rtl {
    background-image: url("../img/background/blight_rtl.png");
    background-position: right top;
    background-repeat: no-repeat;
}

#login-container{
	width:100%;
	min-width:320px;
	max-width:480px;
	padding:60px 10px 10px;
	margin:0 auto
}

#page-container{
	width:100%;
	min-width:320px;
	max-width:1440px;
	padding:50px 0 0;
	margin:0 auto
}

.header-fixed-bottom #page-container{
	padding:0 0 50px;
}

.header-fixed-top header.navbar,.header-fixed-bottom header.navbar{
	margin:0;
	/*background: url("../img/background/bt_cubs.png") repeat scroll left top #7cbb00;*/
	background: url("../img/background/bt_cubs.png") repeat scroll left top #156559;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
         -o-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
}

#page-content.block{
	border-width:0;
	margin:0;
	padding-left:15px;
	padding-right:15px
}

footer{
	background-color: #06640a;
	background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.2);
	padding:7px 15px;
	font-size:12px;
	border-top:1px dotted #ccc;
	border-bottom:7px solid #156559;
	color:#FFF;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

header.navbar-default,header.navbar-inverse{
	padding:0 5px;
	margin:0 0 10px;
	min-width:320px
}

header.navbar{
	-webkit-box-shadow:0 0 2px #555;
	box-shadow:0 0 2px #555
}

header.navbar.navbar-inverse{
	-webkit-box-shadow:none;
	box-shadow:none;
	border-bottom:1px solid #222
}

header.navbar-default.add-opacity{
	/*background:#7cbb00;*/
	background:#7CB0AE;
	/*background:rgba(124,187,0,.85)*/
}

header.navbar-default,header.navbar-default.add-opacity:hover{
	/*background:#7cbb00;*/
	background:#156559;
	/*background:rgba(124,187,0,1)*/
}

header.navbar-inverse.add-opacity{
	background:#7cbb00;
	background:rgba(124,187,0,.85)
}

header.navbar-inverse,header.navbar-inverse.add-opacity:hover{
	background:#555;
	background:rgba(85,85,85,1)
}

header.navbar .navbar-brand{
	width:50px;
	height:45px;
	line-height:45px;
	padding:0 15px;
	margin:0 auto;
	color:#fff;
	float:none;
	display:block;
	text-align:center;
	background-color:#2e3030
}

header.navbar .navbar-brand img{
	width:40px;
	height:40px;
	margin-left: -10px;
	margin-top: -3px;
}

header.navbar-fixed-bottom .navbar-brand{
	margin-top:5px
}

header.navbar .navbar-brand:hover,header.navbar .navbar-brand:focus{
	/*background-color:#f39c12;*/
	background-color:#455754;
	color:#fff;
	width:120px;
	padding:0 10px
}

header.navbar .navbar-brand:hover img{
	display:none
}

header.navbar .navbar-brand span{
	display:none
}

header.navbar .navbar-brand:hover span{
	display:inline
}

.header-nav{
	margin:0
}

.header-nav>li{
	float:left
}

.header-nav>li>a{
	padding:0 18px;
	margin:0;
	min-width:40px;
	height:50px;
	line-height:50px;
	text-align:center
}

.header-nav>li>a>i{
	font-size:14px
}

.navbar-default .nav.header-nav>li>a{
	color:#fff
}

.navbar-inverse .nav.header-nav>li>a{
	color:#fff
}

.nav.header-nav>li>a:hover,.nav.header-nav>li>a:focus,.nav.header-nav>li.active>a,.nav.header-nav>li.open>a{
	/*background-color:#f39c12;*/
	background-color:#455754;
	color:#fff
}

header,#sidebar-left,#sidebar-right,#fx-container{
	-moz-transition:all .3s ease-out;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out
}

header,#sidebar-left,#sidebar-right{
	-webkit-transform:translateZ(0);
	transform:translateZ(0)
}

#sidebar-left,#sidebar-right{
	width:201px;
	top:0;
	bottom:0;
	z-index:1039;
	position:fixed;
	overflow:hidden;
	background-color:#2e3030
}

#sidebar-left{
	left:-201px;
	border-right:1px solid #000
}

#sidebar-right{
	right:-201px;
	border-left:1px solid #000
}

.sidebar-left-open .sidebar-nav li a.active{
	margin-left:0;
	margin-right:0;
	padding:0 10px
}

.sidebar-left-open header.navbar-fixed-bottom,.sidebar-left-open header.navbar-fixed-top{
	left:201px;
	right:-201px
}

.sidebar-left-open #sidebar-left,.sidebar-left-open #sidebar-left.enable-hover{
	left:0
}

.sidebar-right-open #sidebar-right{
	right:0
}

.sidebar-right-open header.navbar-fixed-bottom,.sidebar-right-open header.navbar-fixed-top{
	left:-201px;
	right:201px
}

.sidebar-content{
	width:200px;
	color:#FFF
}

.sidebar-content .alert{
	margin:4px 0 0;
	padding:5px;
	font-size:12px;
	color:#FFF;
	background-color:transparent;
	border-radius:0;
	border-width:0;
	border-right-width:5px;
	background-color:#373939
}

.sidebar-content .alert-dismissable .close{
	right:0
}

.sidebar-content .alert-dismissable .close:hover{
	color:#eee
}

#sidebar-right .sidebar-content .alert{
	border-right-width:0;
	border-left-width:5px
}

.sidebar-content .alert-danger{
	border-color:#e74c3c
}

.sidebar-content .alert-warning{
	border-color:#e67e22
}

.sidebar-content .alert-success{
	border-color:#27ae60
}

.sidebar-content .alert-info{
	border-color:#3498db
}

.sidebar-section{
	margin:0 10px
}

.sidebar-search{
	height:51px;
	padding:5px;
	background:#4c4f4f;
	border-bottom:1px solid #222
}

.sidebar-search input[type=text]{
	color:#ccc;
	width:190px;
	border:0;
	height:40px;
	padding:5px;
	background:#4c4f4f
}

.sidebar-search input[type=text]:focus{
	outline:0
}

.user-info{
	height:51px;
	background-color:#4c4f4f;
	padding:5px 12px;
	border-bottom:1px solid #222
}

.user-details{
	float:right;
	width:136px;
	padding:0 0 0 12px;
	height:40px;
	line-height:20px;
	font-size:12px
}

.sidebar-header{
	margin:15px 0 10px;
	padding:0;
	color:#888;
	font-size:13px;
	font-weight:400;
	text-transform:uppercase
}

.sidebar-nav{
	list-style:none;
	margin:0 10px;
	padding:0
}

.sidebar-nav li a{
	display:block;
	color:#eee;
	padding:0 10px;
	min-height:34px;
	line-height:34px;
	text-decoration:none;
	margin-top:4px
}

.sidebar-nav li a:hover{
	text-decoration:none;
	background-color:#4e5252
}

.sidebar-nav li a:focus{
	outline:0
}

.sidebar-nav li a::-moz-focus-inner{
	border:0
}

.sidebar-nav a>i{
	width:20px;
	text-align:center;
	display:inline-block;
	margin:0 10px 0 0;
	font-size:14px
}

.sidebar-nav li a.active{
	margin-left:-10px;
	margin-right:-10px;
	padding-left:20px
}

.sidebar-nav li a.active,.sidebar-nav li>ul a.active:hover{
	color:#fff;
	background-color:#f39c12
}

.sidebar-nav li span{
	float:right;
	font-size:12px;
	display:inline-block;
	padding:0 5px;
	height:20px;
	line-height:20px;
	margin-top:7px;
	color:#999;
	border:1px solid #444;
	-webkit-box-shadow:0 1px #444;
	box-shadow:0 1px #444
}

.sidebar-nav li a:hover span{
	color:#fff;
	border-color:#4e5252;
	-webkit-box-shadow:none;
	box-shadow:none
}

.sidebar-nav li a.open,.sidebar-nav li.active>a,.sidebar-nav li a.open:hover,.sidebar-nav li.active>a:hover{
	color:#fff;
	background:#444747;
	padding-left:7px;
	border-left:3px solid #f39c12
}

.sidebar-nav li a.open span,.sidebar-nav li.active>a span,.sidebar-nav li a.open:hover span,.sidebar-nav li.active>a:hover span{
	color:#fff;
	border-color:#444747
}

.sidebar-nav li ul{
	list-style:none;
	padding:0;
	margin:0;
	display:none;
	background:#444747;
	border-left:3px solid #f39c12
}

.sidebar-nav li.active ul{
	display:block
}

.sidebar-nav li ul a{
	margin:0;
	font-size:12px;
	color:#FFF;
	min-height:34px;
	line-height:34px;
	border-radius:0;
	padding:0 10px 0 20px!important
}

.sidebar-nav li ul a:hover{
	background-color:#646869
}

.sidebar-nav li ul a.active,.sidebar-nav li ul a.active:hover{
	background-color:#f39c12
}

/*#search-div{
	height: auto;
}*/
.block{
	margin:0 0 20px;
	padding:20px 20px 1px;
	background-color:#fff;
	min-width: auto;	
}

.block.full{
	padding:20px
}

.block .block{
	border:1px solid #d9d9d9;
	-webkit-box-shadow:0 1px #d9d9d9;
	box-shadow:0 1px #d9d9d9
}

.block-title{
	color:#646869;
	margin:-21px -21px 20px;
	background-color:#fff;
	border-bottom:2px solid #f39c12;
	color:#fff
}

.block-title h1,.block-title h2,.block-title h3,.block-title h4,.block-title h5,.block-title h6{
	display:inline-block;
	font-size:18px;
	line-height:18px;
	line-height:1.4;
	margin:0;
	padding:10px 16px 7px;
	font-weight:400
}

.block-title h1 small,.block-title h2 small,.block-title h3 small,.block-title h4 small,.block-title h5 small,.block-title h6 small{
	font-size:14px;
	color:#FFF;
	font-weight:400
}

.block-title h1,.block-title h2,.block-title h3{
	padding-left:15px;
	padding-right:15px
}

.block-title .nav-tabs,.block-options{
	min-height:42px;
	line-height:40px
}

.block-title .nav-tabs{
	padding:3px 1px 0;
	border-bottom:0
}

.block-title .nav-tabs>li>a{
	border-bottom:0
}

.block-title .nav-tabs{
	margin-bottom:-2px
}

.block-title .nav-tabs>li>a{
	margin-bottom:0
}

.block-title .nav-tabs>li>a:hover{
	background-color:#f39c12;
	border-color:#2e3030;
	color:#fff
}

.block-title .nav-tabs>li.active>a,.block-title .nav-tabs>li.active>a:hover,.block-title .nav-tabs>li.active>a:focus{
	border:1px solid #555;
	border-bottom-color:#fff;
	background-color:#fff
}

.block-title code{
	border:0;
	padding:3px 5px
}

.block-options{
	margin:0 6px;
	line-height:39px
}

.block-options .label{
	display:inline-block;
	padding:6px 12px;
	margin-top:3px;
	vertical-align:middle;
	font-size:13px
}

.block-top{
	margin:-20px -20px 20px
}

.block-section{
	margin-bottom:20px
}

.block-header{
	margin:-20px -15px 20px;
	border-bottom:1px dotted #ccc;
	background:#f0f0f0
}

.block-header h1{
	margin:0;
	font-size:20px;
	line-height:22px;
	font-weight: lighter;
}

.block-header h1 small{
	font-size:14px
}

a.header-title-link h1 i,header-section h1 i{
	font-size: 18px;
	float: left;
	margin: 2px 6px 0px 0px;
	color:#2e3030
}

a.header-title-link h1 i[class^=glyphicon-],a.header-title-link h1 i[class*=" glyphicon-"],header-section h1 i[class^=glyphicon-],header-section h1 i[class*=" glyphicon-"]{
	margin:-5px 0 0 10px
}

a.header-link,a.header-title-link,.header-section{
	margin-top:-10px;
	/*border-top:7px solid #75df5c;*/
	border-top:7px solid #0AB7CC;
	/*border-top:7px solid #f39c12;*/
	padding: 8px 13px;
}

.row .header-section,.row a.header-link,.row a.header-title-link{
	margin:0 -5px
}

a.header-link,a.header-title-link{
	display:block;
	text-align:center
}

a.header-link:hover,a.header-title-link:hover{
	text-decoration:none;
	background:#fff;
	border-top-color:#f1c40f
}

a.header-link{
	padding-left:5px;
	padding-right:5px
}

a.header-title-link{
	text-align:left
}

.dropdown-menu.dropdown-custom{
	padding:0;
	min-width:200px
}

.dropdown-menu.dropdown-custom li{
	padding:8px 10px;
	font-size:12px
}

.dropdown-menu.dropdown-custom .dropdown-header{
	color:#2e3030;
	background-color:#f9f9f9;
	margin-top:6px
}

.dropdown-menu.dropdown-custom li.dropdown-header:first-child{
	margin-top:0
}

.page-header{
	border-bottom-width:2px;
	border-bottom-color:#FFF;
	margin:30px 0 20px;
	color:#000
}

.sub-header{
	margin:20px 0;
	padding:10px 0;
	border-bottom:1px dotted #ccc
}

.content-text .pull-left{
	margin:0 20px 20px 0
}

.content-text .pull-right{
	margin:0 0 20px 20px
}

#to-top{
	display:none;
	position:fixed;
	bottom:53px;
	right:0;
	padding:8px 15px;
	font-size:20px;
	text-align:center;
	color:#fff;
	background-color:#7CB0AE;
	opacity:1;
	filter:alpha(opacity=25)
}

#to-top:hover{
	color:#fff;
	/*background-color:#f39c12;*/
	background-color:#156559;
	text-decoration:none;
	opacity:1;
	filter:alpha(opacity=100)
}

.gallery img,.gallery a img,.gallery-image img,a[data-toggle=lightbox-image] img{
	max-width:100%;
	border:2px solid #fff
}

a[data-toggle=lightbox-image],a.gallery-link{
	cursor:pointer;
	cursor:-webkit-zoom-in;
	cursor:-moz-zoom-in;
	cursor:zoom-in
}

.gallery a:hover img,.gallery-image:hover img,a[data-toggle=lightbox-image]:hover img{
	border:2px solid #f39c12;
	opacity:.9;
	filter:alpha(opacity=90)
}

.gallery-image{
	position:relative
}

.gallery-image-options{
	position:absolute;
	top:0;
	padding:10px;
	display:none;
	width:100%
}

.gallery-image:hover .gallery-image-options{
	display:block
}

.gallery>.row>div{
	margin-bottom:15px
}

.chart{
	height:350px
}

.chart-tooltip{
	position:absolute;
	display:none;
	color:#fff;
	background-color:#2e3030;
	padding:8px 12px
}

.chart-pie-label{
	font-size:12px;
	text-align:center;
	padding:8px 12px;
	color:#fff
}

ul.timeline{
	list-style:none;
	margin:0 -5px 15px;
	padding:0 5px 1px
}

.timeline li{
	margin-bottom:9px
}

.timeline .timeline-item{
	border-left:3px solid #2e3030;
	background-color:#f9f9f9
}

.timeline li.text-right{
	text-align:left
}

.timeline li.text-right .timeline-item{
	border-right:3px solid #2e3030;
	border-left-width:0
}

.timeline .timeline-title{
	padding:10px;
	margin:0;
	background-color:#e8e8e8;
	color:#000
}

.timeline .timeline-meta{
	float:right;
	font-size:12px;
	margin:4px 0 0 4px;
	font-weight:400;
	color:#000
}

.timeline .timeline-content{
	padding:15px;
	margin-bottom:0
}

.timeline li.alt-color .timeline-item{
	border-color:#f39c12;
	border-left-color:#f39c12
}

.timeline li.alt-color .timeline-title{
	background-color:#f7e5c9
}

.timeline li.alt-color.text-right .timeline-item{
	border-color:#f39c12;
	border-left-width:0
}

.ms-categories ul{
	border-left:3px solid #2e3030;
	background-color:#f9f9f9;
	margin-bottom:20px
}

.ms-categories a{
	margin:0!important;
	color:#555;
	padding-top:12px;
	padding-bottom:12px
}

.ms-categories a:hover{
	color:#555;
	background-color:#f0f0f0!important
}

.ms-categories a:focus,.ms-categories a:active,.ms-categories li.active a,.ms-categories li.active a:hover{
	background-color:#f39c12!important;
	color:#fff
}

.ms-message-content{
	border-top:1px solid #eee;
	border-bottom:1px solid #eee;
	margin:20px -20px;
	padding:20px 20px 1px
}

.profile-photo{
	float:right;
	margin-top:-28px
}

.profile-name{
	margin-left:120px
}

.profile-status{
	padding:10px 10px 7px;
	margin-bottom:20px;
	border-bottom:1px dotted #ddd;
	background-color:#f9f9f9
}

.profile-status>div{
	padding:7px 0 0
}

.error-container{
	margin-bottom:20px;
	padding:50px 0
}

.error-container i{
	font-size:172px
}

.error-container h1{
	font-size:72px;
	margin:30px 0 10px
}

.error-container small{
	font-size:24px;
	font-weight:300;
	color:#999
}

.table.table-pricing{
	background-color:#fff
}

.table-pricing th,.table-pricing td{
	text-align:center
}

.table-pricing th{
	font-weight:300;
	font-size:26px!important
}

.table-pricing td{
	font-size:15px
}

.table-pricing .table-price{
	background-color:#f9f9f9
}

.table-pricing.table-featured .table-price,.table-pricing .table-price.table-featured{
	background-color:#444747
}

.table-pricing.table-featured th,.table-pricing th.table-featured{
	background-color:#f39c12;
	border-bottom:2px solid #2e3030;
	color:#fff
}

.table-pricing.table-featured td,.table-pricing td.table-featured{
	background-color:#2e3030;
	color:#fff
}

.navbar{
	border-radius:0
}

.navbar-fixed-top,.navbar-fixed-bottom{
	border-width:0
}

.navbar-inverse .navbar-toggle{
	color:#999
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:300
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small,.h1 small,.h2 small,.h3 small,.h4 small,.h5 small,.h6 small{
	font-weight:300;
	color:#2e3030
}

a{
	color:#2e3030
}

a:hover,a:focus{
	color:#2e3030
}

.text-danger,a.text-danger{
	color:#e74c3c
}

a.text-danger:hover,a.text-danger:hover{
	color:#e74c3c
}

.text-warning,a.text-warning{
	color:#e67e22
}

a.text-warning:hover,a.text-warning:hover{
	color:#e67e22
}

.text-success,a.text-success{
	color:#27ae60
}

a.text-success:hover,a.text-success:hover{
	color:#27ae60
}

.text-info,a.text-info{
	color:#3498db
}

a.text-info:hover,a.text-info:hover{
	color:#3498db
}

.text-muted,a.text-muted{
	color:#999
}

a.text-muted:hover,a.text-muted:hover{
	color:#999
}

.text-primary{
	color:#FFF
}

.well{
	border-radius:0
}

label{
	font-weight:400;
	padding-bottom:5px
}

input[type=file]{
	padding-top:7px
}

.form-control{
	font-size:13px;
	padding:6px 8px;
	color:#333;
	border-color:#d9d9d9;
	border-radius:0!important;
	box-shadow:0 1px 0 #d9d9d9;
	box-shadow:0 1px 0 #d9d9d9
}

.form-control:focus{
	border-color:#999;
	box-shadow:0 1px 0 #999;
	box-shadow:0 1px 0 #999
}

.form-horizontal .form-group{
	margin-right:-5px;
	margin-left:-5px
}

.gutter30 .form-horizontal .form-group{
	margin-right:-15px;
	margin-left:-15px
}

.gutter30 .block .form-horizontal .form-group{
	margin-right:-5px;
	margin-left:-5px
}

.form-grid .form-control{
	margin-bottom:5px
}

.form-grid .form-group{
	margin-bottom:10px
}

.form-control-static{
	line-height:normal
}

.help-block{
	margin-bottom:5px
}

.input-group-addon{
	min-width:45px;
	text-align:center;
	background-color:#fcfcfc;
	border-color:#d9d9d9;
	box-shadow:0 1px 0 #d9d9d9;
	box-shadow:0 1px 0 #d9d9d9
}

.has-success .help-block,.has-success .control-label,.has-success .input-group-addon{
	color:#27ae60
}

.has-success .form-control,.has-success .input-group-addon{
	border-color:#27ae60;
	-webkit-box-shadow:0 1px 0 #27ae60;
	box-shadow:0 1px 0 #27ae60
}

.has-success .form-control:focus{
	border-color:#166638;
	-webkit-box-shadow:0 1px 0 #166638;
	box-shadow:0 1px 0 #166638
}

.has-warning .help-block,.has-warning .control-label,.has-warning .input-group-addon{
	color:#e67e22
}

.has-warning .form-control,.has-warning .input-group-addon{
	border-color:#e67e22;
	-webkit-box-shadow:0 1px 0 #e67e22;
	box-shadow:0 1px 0 #e67e22
}

.has-warning .form-control:focus{
	border-color:#b3621b;
	-webkit-box-shadow:0 1px 0 #b3621b;
	box-shadow:0 1px 0 #b3621b
}

.has-error .help-block,.has-error .control-label,.has-error .input-group-addon{
	color:#e74c3c
}

.has-error .form-control,.has-error .input-group-addon{
	border-color:#e74c3c;
	-webkit-box-shadow:0 1px 0 #e74c3c;
	box-shadow:0 1px 0 #e74c3c
}

.has-error .form-control:focus{
	border-color:#c0392b;
	-webkit-box-shadow:0 1px 0 #c0392b;
	box-shadow:0 1px 0 #c0392b
}

input[type=text].form-control,input[type=password].form-control,input[type=email].form-control,textarea.form-control{
	-webkit-appearance:none
}

.table-options{
	padding:6px 0
}

.table thead>tr>th{
	font-size:18px;
	font-weight:300
}

.table thead>tr>th,.table thead>tr>td,.table tfoot>tr>th,.table tfoot>tr>td{
	background-color:#e9e9e9;
	padding-top:12px;
	padding-bottom:12px
}

.table-borderless tbody>tr>th,.table-borderless tbody>tr>td{
	border-top-width:0
}

.table thead>tr>th,.table tbody>tr>th,.table tfoot>tr>th,.table thead>tr>td,.table tbody>tr>td,.table tfoot>tr>td,.table tbody+tbody,.table-bordered,.table-bordered>thead>tr>th,.table-bordered>tbody>tr>th,.table-bordered>tfoot>tr>th,.table-bordered>thead>tr>td,.table-bordered>tbody>tr>td,.table-bordered>tfoot>tr>td{
	border-color:#e9e9e9
}

.table-hover>tbody>tr:hover>td,.table-hover>tbody>tr:hover>th{
	background-color:#FCF8E3
}

.list-group-item.active,.list-group-item.active:hover,.list-group-item.active:focus{
	background-color:#60A917;
	border-color:#A4C400
}

.list-group-item.active .list-group-item-text,.list-group-item.active:hover .list-group-item-text,.list-group-item.active:focus .list-group-item-text{
	color:#fff
}

.list-group-item{
	border-radius:0!important
}

a.list-group-item:hover,a.list-group-item:focus{
	background-color:#f9f9f9
}

a.list-group-item.active>.badge,.nav-pills>.active>a>.badge{
	color:#555
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{
	background-color:#60A917
}

.nav-pills>.active>a>.badge{
	color:#555;
}



.list-group-item.pending,.list-group-item.pending:hover,.list-group-item.pending:focus{
	background-color:#f39c12;
	border-color:#f39c12
}

.list-group-item.pending .list-group-item-text,.list-group-item.pending:hover .list-group-item-text,.list-group-item.pending:focus .list-group-item-text{
	color:#fff
}

.list-group-item{
	border-radius:0!important
}

a.list-group-item:hover,a.list-group-item:focus{
	background-color:#f9f9f9
}

a.list-group-item.pending>.badge,.nav-pills>.pending>a>.badge{
	color:#555
}

.nav-pills>li.pending>a,.nav-pills>li.pending>a:hover,.nav-pills>li.pending>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.pending>a,.dropdown-menu>.pending>a:hover,.dropdown-menu>.pending>a:focus,.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{
	background-color:#f39c12
}

.nav-pills>.pending>a>.badge{
	color:#555;
}



.list-group-item.finish,.list-group-item.finish:hover,.list-group-item.finish:focus{
	background-color:#1BA1E2;
	border-color:#1BA1E2
}

.list-group-item.finish .list-group-item-text,.list-group-item.finish:hover .list-group-item-text,.list-group-item.finish:focus .list-group-item-text{
	color:#fff
}

.list-group-item{
	border-radius:0!important
}

a.list-group-item:hover,a.list-group-item:focus{
	background-color:#f9f9f9
}

a.list-group-item.finish>.badge,.nav-pills>.finish>a>.badge{
	color:#555
}

.nav-pills>li.finish>a,.nav-pills>li.finish>a:hover,.nav-pills>li.finish>a:focus,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.finish>a,.dropdown-menu>.finish>a:hover,.dropdown-menu>.finish>a:focus,.nav .open>a,.nav .open>a:hover,.nav .open>a:focus{
	background-color:#1BA1E2
}

.nav-pills>.pending>a>.badge{
	color:#555;
}



.nav-pills>li>a{
	border-radius:0
}

.nav-stacked>li>a{
	margin:4px 0 0
}

.nav .caret{
	border-top-color:#f39c12;
	border-bottom-color:#f39c12
}

.nav>li>a:hover,.nav>li>a:focus{
	background-color:#f9f9f9
}

.nav a:hover .caret,.nav a:focus .caret{
	border-top-color:#f39c12;
	border-bottom-color:#f39c12
}

.nav-tabs>li{
	margin-bottom:0
}

.nav-tabs>li>a{
	padding-left:7px;
	padding-right:7px;
	margin-bottom:-1px;
	border-radius:0
}

.nav-tabs>li.active>a,.nav-tabs>li.active>a:hover,.nav-tabs>li.active>a:focus{
	color:#2e3030
}

.dropdown-menu{
	border-radius:0;
	padding:2px 0
}

.dropdown-menu>li>a{
	padding:6px 10px
}

.dropdown-menu .divider{
	margin:4px 0
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus{
	border-color:#f39c12;
	background-color:#038898
}

.pagination>li>a,.pager a{
	border-radius:0!important;
	-webkit-box-shadow:0 1px #ddd;
	box-shadow:0 1px #ddd
}

.pagination>li>a:hover{
	background-color:#f9f9f9
}

a.thumbnail:hover,a.thumbnail:focus{
	border-color:#f39c12
}

.tooltip-inner{
	padding:6px 10px;
	background-color:#2e3030;
	border-radius:0
}

.tooltip.top .tooltip-arrow,.tooltip.top-left .tooltip-arrow,.tooltip.top-right .tooltip-arrow{
	border-top-color:#2e3030
}

.tooltip.right .tooltip-arrow{
	border-right-color:#2e3030
}

.tooltip.left .tooltip-arrow{
	border-left-color:#2e3030
}

.tooltip.bottom .tooltip-arrow,.tooltip.bottom-left .tooltip-arrow,.tooltip.bottom-right .tooltip-arrow{
	border-bottom-color:#2e3030
}

.breadcrumb{
	background:#f9f9f9;
	border-radius:0
}

.breadcrumb-top{
	margin:-20px -15px 25px;
	padding:3px 15px;
	border-bottom:1px dotted #ccc
}

.progress{
	border-radius:0;
	height:25px;
	line-height:25px
}

.progress-bar-danger{
	background-color:#e74c3c
}

.progress-bar-warning{
	background-color:#f39c12
}

.progress-bar-success{
	background-color:#2ecc71
}

.progress-bar-info{
	background-color:#3498db
}

.modal-header{
	padding:15px 15px 14px;
	border-bottom:1px dotted #ccc;
	background-color:#f9f9f9
}

.modal-body{
	padding:15px
}

.modal-footer{
	margin-top:0;
	padding:14px 15px 15px;
	border-top:1px dotted #ccc;
	background-color:#f9f9f9
}

.btn{
	margin:1px 0;
	border-radius:0!important
}

.btn:focus,.btn:active,.btn.active{
	outline:0!important
}

.navbar .btn,.block-options .btn,.input-group .btn,.modal-content .btn{
	margin-top:0;
	margin-bottom:0
}

.btn-default,.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default,.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active{
	background-color:#eee;
	border-color:#d9d9d9;
	-webkit-box-shadow:0 1px 0 #d9d9d9;
	box-shadow:0 1px 0 #d9d9d9
}

.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{
	background-color:#f9f9f9
}

.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default{
	background-color:#fff
}

.btn-danger,.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger,.btn-danger.disabled,.btn-danger[disabled],fieldset[disabled] .btn-danger,.btn-danger.disabled:hover,.btn-danger[disabled]:hover,fieldset[disabled] .btn-danger:hover,.btn-danger.disabled:focus,.btn-danger[disabled]:focus,fieldset[disabled] .btn-danger:focus,.btn-danger.disabled:active,.btn-danger[disabled]:active,fieldset[disabled] .btn-danger:active,.btn-danger.disabled.active,.btn-danger[disabled].active,fieldset[disabled] .btn-danger.active{
	background-color:#e74c3c;
	border-color:#c0392b;
	-webkit-box-shadow:0 1px 0 #c0392b;
	box-shadow:0 1px 0 #c0392b
}

.btn-danger:hover,.btn-danger:focus,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{
	background-color:#ff5e4c
}

.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger{
	background-color:#ff8173
}

.btn-warning,.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning,.btn-warning.disabled,.btn-warning[disabled],fieldset[disabled] .btn-warning,.btn-warning.disabled:hover,.btn-warning[disabled]:hover,fieldset[disabled] .btn-warning:hover,.btn-warning.disabled:focus,.btn-warning[disabled]:focus,fieldset[disabled] .btn-warning:focus,.btn-warning.disabled:active,.btn-warning[disabled]:active,fieldset[disabled] .btn-warning:active,.btn-warning.disabled.active,.btn-warning[disabled].active,fieldset[disabled] .btn-warning.active{
	background-color:#e67e22;
	border-color:#995417;
	-webkit-box-shadow:0 1px 0 #995417;
	box-shadow:0 1px 0 #995417
}

.btn-warning:hover,.btn-warning:focus,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{
	background-color:#f28b30
}

.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning{
	background-color:#ffa759
}

.btn-success,.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success,.btn-success.disabled,.btn-success[disabled],fieldset[disabled] .btn-success,.btn-success.disabled:hover,.btn-success[disabled]:hover,fieldset[disabled] .btn-success:hover,.btn-success.disabled:focus,.btn-success[disabled]:focus,fieldset[disabled] .btn-success:focus,.btn-success.disabled:active,.btn-success[disabled]:active,fieldset[disabled] .btn-success:active,.btn-success.disabled.active,.btn-success[disabled].active,fieldset[disabled] .btn-success.active{
	background-color:#2ecc71;
	border-color:#27ae60;
	-webkit-box-shadow:0 1px 0 #27ae60;
	box-shadow:0 1px 0 #27ae60
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{
	background-color:#4cd987
}

.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success{
	background-color:#6cd99a
}

.btn-primary,.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary,.btn-primary.disabled,.btn-primary[disabled],fieldset[disabled] .btn-primary,.btn-primary.disabled:hover,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary:hover,.btn-primary.disabled:focus,.btn-primary[disabled]:focus,fieldset[disabled] .btn-primary:focus,.btn-primary.disabled:active,.btn-primary[disabled]:active,fieldset[disabled] .btn-primary:active,.btn-primary.disabled.active,.btn-primary[disabled].active,fieldset[disabled] .btn-primary.active{
	/*background-color:#4cab36;*/
	background-color:#038898;
	/*border-color:#40972c;*/
	border-color:#038898;
	/*-webkit-box-shadow:0 1px 0 #40972c;*/
	-webkit-box-shadow:0 1px 0 #038898;
	/*box-shadow:0 1px 0 #40972c*/
	box-shadow:0 1px 0 #fff
}

.btn-primary:hover,.btn-primary:focus,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	/*background-color:#50a23d*/
	background-color:#5CD1DF
}

.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary{
	background-color:#f2bb61
}

.btn-info,.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info,.btn-info.disabled,.btn-info[disabled],fieldset[disabled] .btn-info,.btn-info.disabled:hover,.btn-info[disabled]:hover,fieldset[disabled] .btn-info:hover,.btn-info.disabled:focus,.btn-info[disabled]:focus,fieldset[disabled] .btn-info:focus,.btn-info.disabled:active,.btn-info[disabled]:active,fieldset[disabled] .btn-info:active,.btn-info.disabled.active,.btn-info[disabled].active,fieldset[disabled] .btn-info.active{
	background-color:#3498db;
	border-color:#0973ba;
	-webkit-box-shadow:0 1px 0 #0973ba;
	box-shadow:0 1px 0 #0973ba
}

.btn-info:hover,.btn-info:focus,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{
	background-color:#63abdb
}

.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{
	background-color:#7ebce5
}

.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default,.btn-danger:active,.btn-danger.active,.open .dropdown-toggle.btn-danger,.btn-warning:active,.btn-warning.active,.open .dropdown-toggle.btn-warning,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success,.btn-primary:active,.btn-primary.active,.open .dropdown-toggle.btn-primary,.btn-info:active,.btn-info.active,.open .dropdown-toggle.btn-info{
	border-top-width:2px;
	border-bottom-width:0
}

.btn-link{
	color:#FFF
}

.btn-link:hover,.btn-link:focus{
	color:#FFF
}

.btn-link.btn-icon{
	color:#999
}

.btn-link.btn-icon:hover,.btn-link.btn-icon:focus{
	color:#FFF;
	text-decoration:none
}

pre{
	background:#272822;
	overflow:scroll
}

code{
	border:1px solid #fad4df;
	margin:1px 0;
	display:inline-block
}

.btn code{
	display:inline;
	margin:0
}

.alert{
	border-top-width:0;
	border-right-width:0;
	border-bottom-width:0;
	border-left-width:5px;
	border-radius:0
}

.alert-danger{
	color:#e74c3c;
	background-color:#ffd1cc;
	border-color:#ffb8b0
}

.alert-danger .alert-link{
	color:#e74c3c
}

.alert-warning{
	color:#e67e22;
	background-color:#ffe4cc;
	border-color:#ffd6b2
}

.alert-warning .alert-link{
	color:#e67e22
}

.alert-success{
	color:#27ae60;
	background-color:#daf2e4;
	border-color:#b8e5cb
}

.alert-success .alert-link{
	color:#27ae60
}

.alert-info{
	color:#3498db;
	background-color:#dae8f2;
	border-color:#b8d2e5
}

.alert-info .alert-link{
	color:#3498db
}

.label,.badge{
	font-weight:400;
	font-size:90%
}

.label{
	border-radius:0
}

.label-danger{
	background-color:#e74c3c
}

.label-danger[href]:hover,.label-danger[href]:focus{
	background-color:#ff5542
}

.label-warning{
	background-color:#e67e22
}

.label-warning[href]:hover,.label-warning[href]:focus{
	background-color:#ff8b26
}

.label-success{
	background-color:#27ae60
}

.label-success[href]:hover,.label-success[href]:focus{
	background-color:#2cc76c
}

.label-info{
	background-color:#2980b9
}

.label-info[href]:hover,.label-info[href]:focus{
	background-color:#2f92d4
}

.label-primary{
	background-color:#f39c12
}

.label-primary[href]:hover,.label-primary[href]:focus{
	background-color:#ffa412
}

.label-default{
	background-color:#999
}

.label-default[href]:hover,.label-default[href]:focus{
	background-color:#FFF
}

.carousel-control span{
	position:absolute;
	top:50%;
	left:50%;
	z-index:5;
	display:inline-block
}

.carousel-control i{
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px
}

p,.table,.alert,.carousel{
	margin-bottom:20px
}

p{
	line-height:1.6
}

.row{
	margin-right:-5px;
	margin-left:-5px
}

.col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,.col-xs-11,.col-xs-12,.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,.col-sm-11,.col-sm-12,.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12,.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,.col-lg-11,.col-lg-12{
	padding-right:5px;
	padding-left:5px
}

.row.gutter30{
	margin-right:-15px;
	margin-left:-15px
}

.gutter30>.col-xs-1,.gutter30>.col-xs-2,.gutter30>.col-xs-3,.gutter30>.col-xs-4,.gutter30>.col-xs-5,.gutter30>.col-xs-6,.gutter30>.col-xs-7,.gutter30>.col-xs-8,.gutter30>.col-xs-9,.gutter30>.col-xs-10,.gutter30>.col-xs-11,.gutter30>.col-xs-12,.gutter30>.col-sm-1,.gutter30>.col-sm-2,.gutter30>.col-sm-3,.gutter30>.col-sm-4,.gutter30>.col-sm-5,.gutter30>.col-sm-6,.gutter30>.col-sm-7,.gutter30>.col-sm-8,.gutter30>.col-sm-9,.gutter30>.col-sm-10,.gutter30>.col-sm-11,.gutter30>.col-sm-12,.gutter30>.col-md-1,.gutter30>.col-md-2,.gutter30>.col-md-3,.gutter30>.col-md-4,.gutter30>.col-md-5,.gutter30>.col-md-6,.gutter30>.col-md-7,.gutter30>.col-md-8,.gutter30>.col-md-9,.gutter30>.col-md-10,.gutter30>.col-md-11,.gutter30>.col-md-12,.gutter30>.col-lg-1,.gutter30>.col-lg-2,.gutter30>.col-lg-3,.gutter30>.col-lg-4,.gutter30>.col-lg-5,.gutter30>.col-lg-6,.gutter30>.col-lg-7,.gutter30>.col-lg-8,.gutter30>.col-lg-9,.gutter30>.col-lg-10,.gutter30>.col-lg-11,.gutter30>.col-lg-12{
	padding-right:15px;
	padding-left:15px
}

.sidebar-left-scroll .sidebar-nav{
	padding-bottom:25px
}

.push{
	margin-bottom:15px!important
}

.lt-ie9 .hidden-lt-ie9{
	display:none!important
}

.display-none{
	display:none
}

.remove-margin{
	margin:0!important
}

.remove-padding{
	padding:0!important
}

.remove-radius{
	border-radius:0!important
}

.remove-box-shadow{
	-webkit-box-shadow:none!important;
	box-shadow:none!important
}

.remove-transition{
	-moz-transition:none!important;
	-webkit-transition:none!important;
	transition:none!important
}

@media screen and (min-width:768px){
	#login-container{
		padding-top:150px
	}

	#page-content.block{
		padding-left:20px;
		padding-right:20px;
		background: #d8d8d8;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		-webkit-box-sizing: border-box;
	       -moz-box-sizing: border-box;
	        -ms-box-sizing: border-box;
	         -o-box-sizing: border-box;
	            box-sizing: border-box;
	    -webkit-user-select: none;
	       -moz-user-select: none;
	        -ms-user-select: none;
	         -o-user-select: none;
	            user-select: none;
	    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	       -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	        -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	         -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
	}

	.block-header,.breadcrumb-top{
		margin-left:-20px;
		margin-right:-20px;
		background-color: #fff !important;
		background-image: url("../img/background/blight_ltr.png");
		background-position: left top;
		background-repeat: no-repeat;
	}

	header.navbar .navbar-brand{
		float:none
	}

	.header-nav>li>a{
		padding:0 20px;
		margin:0 2px
	}

	.sidebar-right-open header.navbar-fixed-top,.sidebar-right-open header.navbar-fixed-bottom{
		left:0;
		right:201px
	}

	.sidebar-left-open header.navbar-fixed-top,.sidebar-left-open header.navbar-fixed-bottom{
		left:201px;
		right:0
	}

	.nav-tabs>li>a{
		padding-left:15px;
		padding-right:15px;
		margin-left:3px;
		margin-right:3px
	}

	a.header-link{
		padding-left:5px;
		padding-right:5px
	}

	ul.timeline{
		margin:0 0 20px
	}

	.timeline li{
		margin-bottom:20px
	}

	.timeline li.text-right{
		text-align:right
	}

	.timeline .timeline-item{
		display:inline-block;
		width:60%
	}

	.timeline .text-right .timeline-meta{
		float:left;
		margin:4px 4px 0 0
	}

}

@media (min-width:768px) and (max-width:991px){
}

@media (min-width:992px){
	#page-container{
		width:95%;
		padding:75px 0 25px
	}

	.header-fixed-bottom #page-container{
		padding:25px 0 75px
	}

	#page-container.full-width{
		width:100%;
		max-width:1920px;
		padding:50px 0 0
	}

	.header-fixed-bottom #page-container.full-width{
		padding:0 0 50px
	}

}

@media (min-width:1200px){
	#sidebar-left.enable-hover{
		left:-196px
	}

	.sidebar-right-open #fx-container.fx-opacity,.sidebar-left-open #fx-container.fx-opacity{
		opacity:.4
	}

	.sidebar-left-open #fx-container.fx-move{
		-webkit-transform:translate(40px,0);
		transform:translate(40px,0)
	}

	.sidebar-right-open #fx-container.fx-move{
		-webkit-transform:translate(-40px,0);
		transform:translate(-40px,0)
	}

	.sidebar-right-open #fx-container.fx-push,.sidebar-left-open #fx-container.fx-push{
		-webkit-transform:scale(0.97);
		transform:scale(0.97)
	}

	.sidebar-left-open #fx-container.fx-rotate{
		-webkit-transform:rotate(7deg);
		transform:rotate(7deg)
	}

	.sidebar-right-open #fx-container.fx-rotate{
		-webkit-transform:rotate(-7deg);
		transform:rotate(-7deg)
	}

	.sidebar-left-open #fx-container.fx-push-move{
		-webkit-transform:scale(0.9) translate(40px,0);
		transform:scale(0.9) translate(40px,0)
	}

	.sidebar-right-open #fx-container.fx-push-move{
		-webkit-transform:scale(0.9) translate(-40px,0);
		transform:scale(0.9) translate(-40px,0)
	}

	.sidebar-left-open #fx-container.fx-push-rotate{
		-webkit-transform:scale(0.9) rotate(7deg);
		transform:scale(0.9) rotate(7deg)
	}

	.sidebar-right-open #fx-container.fx-push-rotate{
		-webkit-transform:scale(0.9) rotate(-7deg);
		transform:scale(0.9) rotate(-7deg)
	}

	.sidebar-left-scroll .sidebar-nav{
		padding-bottom:0
	}

}

@media only screen and (-Webkit-min-device-pixel-ratio:1.5),only screen and (-moz-min-device-pixel-ratio:1.5),only screen and (-o-min-device-pixel-ratio:3/2),only screen and (min-device-pixel-ratio:1.5){
}