.metro-layout { width: 100%; height: 100%; }
.metro-layout .header { height: 20%; position: relative; }
.metro-layout .header h1 { position: absolute; top: 50%; margin-top: -0.6em; left: 20px; padding-left: 0.1em; font-size: 3em; line-height: 1em; }
.metro-layout .header .controls { position: absolute; top: 50%; height: 48px; margin-top: -24px; right: 20px; }
.metro-layout .header .controls span { float: right; width: 48px; height: 48px; margin-left: 5px; opacity: 0.25; filter: alpha(opacity=25); cursor: pointer; background: url(../images/sprite.png) no-repeat -999px 0; }
.metro-layout .header .controls span:hover { opacity: 1; filter: none; }
.metro-layout .header .controls span.prev { background-position: 0 0; }
.metro-layout .header .controls span.next { background-position: -48px 0; }
.horizontal .header .controls span.toggle-view { background-position: -96px 0; }
.vertical .header .controls span.toggle-view { background-position: -144px 0; }
.metro-layout .header .controls span.up { background-position: -192px 0; }
.metro-layout .header .controls span.down { background-position: -240px 0; }
.horizontal .header .controls span.up, .horizontal .header .controls span.down, .vertical .header .controls span.prev, .vertical .header .controls span.next { display: none; }

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .metro-layout .content { overflow: auto; }
    ::-webkit-scrollbar { width: 10px; height: 10px; }
    ::-webkit-scrollbar-track:enabled { background-color: #0d0d0d; }
    ::-webkit-scrollbar-thumb:vertical { background-color: #fff; }
    ::-webkit-scrollbar-thumb:horizontal { background-color: #fff; }
}

::selection { background: #158ca0; color: #fff; }
::-moz-selection { background: #158ca0; color: #fff; }

/* mobile support */
@media handheld, only screen and (max-width: 1024px){
    .metro-layout .header h1 { font-size: 2.2em; margin-top: -0.5em; }
}
/* mobile support */
@media handheld, only screen and (max-width: 480px){
    .metro-layout .header { position: relative; text-align: center; }
    .metro-layout .header h1 { left: 5px; font-size: 1.5em; margin-top: -0.5em; }
    .metro-layout .header .controls { position: static; width: 100%; height: auto; margin-top: 0; }
    .metro-layout .header .controls span { display: none !important; }
    .metro-layout .content .items { padding: 0 5px; }
    .vertical .content .items { padding-bottom: 0; }
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.7);
}
.hidden {
    display: none;
}
.clear {
    clear: both;
}
.transition_all {
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
         -o-transition: all 0.4s;
        -ms-transition: all 0.4s;
            transition: all 0.4s;
}
.text_shadow {
    color: #222222;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
}
.spacer_20 {
    height: 20px;
    clear: both;
}
#widget_scroll_container {
    overflow: hidden;
    margin: 0px auto;
    position: absolute;
    top: 20%;
    left: 10px;
}
#widget_preview {
    top: 50%;
    right: 50%;
    left: 50%;
    bottom: 50%;
    position: fixed;
    overflow: hidden;
    color: #FFFFFF;
    z-index: 200;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: default;
}
#widget_preview a  {
    color: #FFFFFF;
}
#widget_preview.open {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
#widget_preview.loading {
    background: url('../images/page_loader.gif') no-repeat scroll 50% 50%;
}
#widget_preview > div.dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #FFFFFF;
    right: 100%;
}
#widget_preview > div.dot.open {
    right: 0%;
}
#widget_sidebar {
    position: absolute;
    display: table;
    height: 100%;
    top: 0px;
    bottom: 0px;
    right: -66px;
    z-index: 500;
    width: 76px;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -0-transition: all 0.2s linear;
            transition: all 0.2s linear;
}
#widget_sidebar.open,
#widget_sidebar:hover {
    right: 0px;
    background-color: #111111;
}
#widget_sidebar > div {
    display: table-cell;
    vertical-align: middle;
}
#widget_sidebar > div > div {
    background-repeat: no-repeat;
    background-position: 50% 10px;
    height: 84px;
    cursor: pointer;
    position: relative;
}
#widget_sidebar > div > div:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
#widget_sidebar > div > div.cancel {
    background-image: url('../images/metro/cancel.png');
}
#widget_sidebar > div > div.download {
    background-image: url('../images/metro/save.png');
}
#widget_sidebar > div > div.back {
    background-image: url('../images/metro/back.png');
}
#widget_sidebar > div > div.next {
    background-image: url('../images/metro/next.png');
}
#widget_sidebar > div > div.refresh {
    background-image: url('../images/metro/refresh.png');
}
#widget_sidebar > div > div > span {
    font-size: 0.7em;
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    bottom: 10px;
}
#widget_preview_content {
    overflow: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    font-size: 0.9em;
    -webkit-animation: widget_preview 0.2s linear;
       -moz-animation: widget_preview 0.2s linear;
        -ms-animation: widget_preview 0.2s linear;
         -o-animation: widget_preview 0.2s linear;
            animation: widget_preview 0.2s linear;
    -webkit-overflow-scrolling: touch;
       -moz-overflow-scrolling: touch;
            overflow-scrolling: touch;
}
div.page_content {
    padding: 16px;
}
div.widget_container {
    position: relative;
    margin-right: 50px; /* when this value is changed, make sure its also updated in ui class ($container_margin) */
    float: left;
    padding: 10px;  /* when this value is changed, make sure its also updated in ui class ($container_padding) */
    -webkit-perspective: 1000px;
       -moz-perspective: 1000px;
        -ms-perspective: 1000px;
         -o-perspective: 1000px;
            perspective: 1000px;
}
div.widget_container:last-child {
    margin-right: 0px;
}
div.widget {
    float: left;
    position: relative;
    color: #FFFFFF;
    cursor: pointer;
    margin: 5px; /* when this value is changed, make sure its also updated in ui class ($widget_margin) */
    opacity: 1;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
            user-select: none;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
       -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
        -ms-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
         -o-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
            box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    -webkit-transform: rotateY(0deg);
       -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
         -o-transform: rotateY(0deg);
            transform: rotateY(0deg);
}
div.widget.unloaded {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
       -moz-transform: rotateY(-90deg);
        -ms-transform: rotateY(-90deg);
         -o-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
}
div.widget.animation {
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
       -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        -ms-transition: opacity 0.3s, -ms-transform 0.3s;
         -o-transition: opacity 0.3s, -o-transform 0.3s;
            transition: opacity 0.3s, transform 0.3s;
}
div.widget:hover {
    z-index: 10;
    border: 3px solid rgba(255, 255, 255, 0.4);
    -webkit-transform: scale(1.05);
       -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
         -o-transform: scale(1.05);
            transform: scale(1.05);
}
div.widget_link {
    cursor: pointer;
}

/* when this value is changed, make sure its also updated in ui class ($widget_width_big) */
div.widget1x1 {
    width: 60px;
    height: 60px;
}
div.widget2x2 {
    width: 160px;
    height: 160px;
}
div.widget4x2 {
    width: 330px;
    height: 160px;
}
div.widget4x4 {
    width: 330px;
    height: 330px;
}
div.widget a {
    color: #FFFFFF;
}
div.widget div.main {
    overflow: hidden;
    position: absolute;
    left: 0px;
    right: 0px;
    height: 100%;
    top: 100%;
    -webkit-transition: top 0.4s;
       -moz-transition: top 0.4s;
        -ms-transition: top 0.4s;
         -0-transition: top 0.4s;
            transition: top 0.4s;
}
div.widget div.main {
    height: 100%;
    top: 0px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
div.widget div.widget_content {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    overflow: hidden;
}
div.widget div.main > span {
    display: block;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-size: 1.2em;
    text-transform: uppercase;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
       -moz-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
        -ms-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
         -o-text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

/*
Widget Theme
*/
div.widget_softblue,
div.widget_container.softblue div.widget {
    background-color: #00ABA9;
}
div.widget_blue,
div.widget_container.blue div.widget {
    background-color: #1BA1E2;
}
div.widget_darkblue,
div.widget_container.darkblue div.widget {
    background-color: #0050EF;
}

div.widget_softred,
div.widget_container.softred div.widget {
    background-color: #F472D0;
}
div.widget_red,
div.widget_container.red div.widget {
    background-color: #E51400;
}
div.widget_darkred,
div.widget_container.darkred div.widget {
    background-color: #A20025;
}

div.widget_softgreen,
div.widget_container.softgreen div.widget {
    background-color: #A4C400;
}
div.widget_green,
div.widget_container.green div.widget {
    background-color: #60A917;
}
div.widget_darkgreen,
div.widget_container.darkgreen div.widget {
    background-color: #008A00;
}

div.widget_softyellow,
div.widget_container.softyellow div.widget {
    background-color: #F0A30A;
}
div.widget_yellow,
div.widget_container.yellow div.widget {
    background-color: #D8C100;
}
div.widget_darkyellow,
div.widget_container.darkyellow div.widget {
    background-color: #B93615;
}

div.widget_softmagenta,
div.widget_container.softmagenta div.widget {
    background-color: #AA00FF;
}
div.widget_magenta,
div.widget_container.magenta div.widget {
    background-color: #D80073;
}
div.widget_darkmagenta,
div.widget_container.darkmagenta div.widget {
    background-color: #6A00FF;
}

div.widget_softbrown,
div.widget_container.softbrown div.widget {
    background-color: #A77439;
}
div.widget_brown,
div.widget_container.brown div.widget {
    background-color: #6D4B25;
}
div.widget_darkbrown,
div.widget_container.darkbrown div.widget {
    background-color: #583D1E;
}

div.widget_softblack,
div.widget_container.softblack div.widget {
    background-color: #737373;
}
div.widget_black,
div.widget_container.black div.widget {
    background-color: #545454;
}
div.widget_darkblack,
div.widget_container.darkblack div.widget {
    background-color: #2A2A2A;
}
/*
div.widget_green,
div.widget_container.green div.widget {
    background-color: #94C849;
}
div.widget_darkgreen,
div.widget_container.darkgreen div.widget {
    background-color: #6FA014;
}
div.widget_purple,
div.widget_container.purple div.widget {
    background-color: #91009B;
}
div.widget_darkred,
div.widget_container.darkred div.widget {
    background-color: #BE213E;
}
div.widget_darkblue,
div.widget_container.darkblue div.widget {
    background-color: #3C7780;
}
div.widget_yellow,
div.widget_container.yellow div.widget {
    background-color: #D9B700;
}
div.widget_grey,
div.widget_container.grey div.widget {
    background-color: #4C4C4C;
}
*/

/*
Compact Mode
*/
@media screen and (max-height: 680px) {
    /* when this value is changed, make sure its also updated in ui class ($widget_width_small) */
    div.widget1x1 {
        width: 65px;
        height: 65px;
    }
    div.widget2x2 {
        width: 140px;
        height: 140px;
    }
    div.widget4x2 {
        width: 290px;
        height: 140px;
    }
    div.widget4x4 {
        width: 290px;
        height: 290px;
    }
}


/*
touch
*/
body.touch {
    overflow: auto;
}
body.touch div.widget:hover {
    border: none;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
}

/*
Page Content
*/
#widget_preview h1 {
    position: relative;
    margin: 0px 0px 20px 0px;
    padding: 0px;
    font-size: 1.5em;
    color: #111111;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.3);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
        -ms-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
         -o-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.6);
}
#widget_preview h2 {
    font-size: 1.4em;
    margin-left: 20px;
}
#widget_preview h3 {
    font-size: 1.3em;
    margin-left: 20px;
}
#widget_preview h4 {
    font-size: 1.2em;
    margin-left: 20px;
}
#widget_preview h5 {
    font-size: 1.1em;
    margin-left: 20px;
}
#widget_preview h6 {
    font-size: 1em;
    margin-left: 20px;
}
#widget_preview p {
    padding: 20px;
    margin: 0px 20px 20px 20px;
    color: #000000;
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#widget_preview p.dark {
    background-color: #111111;
    color: #FFFFFF;
}
#widget_preview div.grid4 {
    float: left;
    width: 22.75%;
    margin: 0px 1.5%;
}
#widget_preview div.grid4:first-child {
    margin-left: 0px;
}
#widget_preview div.grid4:last-child {
    margin-right: 0px;
}
#widget_preview p input[type="text"],
#widget_preview p input[type="email"],
#widget_preview p input[type="password"],
#widget_preview p textarea {
    border: none;
    padding: 8px 10px;
    margin-bottom: 20px;
    background-color: #F9F9F9;
    resize: none;
    -webkit-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
        -ms-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
         -o-box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
#widget_preview p input[type="text"],
#widget_preview p input[type="email"],
#widget_preview p input[type="password"] {
    width: 50%;
}
#widget_preview p textarea {
    width: 100%;
    height: 150px;
}
#widget_preview p input[type="text"]:focus,
#widget_preview p input[type="email"]:focus,
#widget_preview p input[type="password"]:focus,
#widget_preview p textarea:focus {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
         -o-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
            box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
}
#widget_preview p input.invalid,
#widget_preview p textarea.invalid {
    background-color: #FFEDED;
}
#widget_preview p input[type="button"],
#widget_preview p input[type="submit"] {
    border: none;
    color: #FFFFFF;
    background-repeat: no-repeat;
    background-color: #222222;
    padding: 8px 20px 8px 20px;
    font-size: 0.8em;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-box-shadow: 1px 1px 6px #999999;
       -moz-box-shadow: 1px 1px 6px #999999;
        -ms-box-shadow: 1px 1px 6px #999999;
         -o-box-shadow: 1px 1px 6px #999999;
            box-shadow: 1px 1px 6px #999999;
}
#widget_preview p input[type="button"]:hover,
#widget_preview p input[type="submit"]:hover {
    background-color: #333333;
}
#widget_preview p input[type="button"]:active,
#widget_preview p input[type="submit"]:active {
    -webkit-box-shadow: 2px 2px 6px #000000 inset;
       -moz-box-shadow: 2px 2px 6px #000000 inset;
        -ms-box-shadow: 2px 2px 6px #000000 inset;
         -o-box-shadow: 2px 2px 6px #000000 inset;
            box-shadow: 2px 2px 6px #000000 inset;
}
#widget_preview ul {
    padding: 0px 10px;
    margin: 0px;
    list-style: none;
    padding: 20px;
    margin: 0px 20px 20px 20px;
    color: #000000;
    background-color: #FFFFFF;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
       -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
        -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
         -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}
#widget_preview li {
    background: url('../images/bullet.png') no-repeat 10px 50%;
    padding: 10px 10px 10px 45px;
    background-color: #EEEEEE;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -webkit-transition: all 0.2s linear;
       -moz-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
         -o-transition: all 0.2s linear;
            transition: all 0.2s linear;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
        -ms-border-radius: 4px;
         -o-border-radius: 4px;
            border-radius: 4px;
}
#widget_preview li:first-child {
    border-top: none;
}
#widget_preview li:last-child {
    border-bottom: none;
}
#widget_preview li:hover {
    background-color: #DDDDDD;
    background-position: 20px 50%;
    padding-left: 55px;
}

/*tambahan*/
.stepy-widget {
    position: relative;
    margin-bottom: 20px;
}
.widget-container {
    padding: 20px 20px 1px;
}
.gray {
    background: none repeat scroll 0% 0% #E8E8E8;
}


@-webkit-keyframes widget_preview {
    from {opacity: 0; -webkit-transform: translateY(-20px);}
    to {opacity: 1; -webkit-transform: translateY(0px)}
}
@-moz-keyframes widget_preview {
    from {opacity: 0; -moz-transform: translateY(-20px);}
    to {opacity: 1; -moz-transform: translateY(0px)}
}
@-ms-keyframes widget_preview {
    from {opacity: 0; -ms-transform: translateY(-20px);}
    to {opacity: 1; -ms-transform: translateY(0px)}
}
@-o-keyframes widget_preview {
    from {opacity: 0; -o-transform: translateY(-20px);}
    to {opacity: 1; -o-transform: translateY(0px)}
}
@keyframes widget_preview {
    from {opacity: 0; transform: translateY(-20px);}
    to {opacity: 1; transform: translateY(0px)}
}